.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #fff;
    background: #41a58d;
    transition: 2s;
  }
.header{
    height: 50vw;
    padding: 0;
    display: block;
    animation: fadeIn 3s;
    overflow: hidden;
    object-fit: contain;
    align-items: center;
}
.header-content  {
    width: 90%;
    color: #41a58d;
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    
}
.image-overlay {
    position: relative; 
  }
  
  .image-overlay.with-gradient::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(
      rgba(54, 54, 105, 0.7), 
      rgba(4, 9, 30, 0.7) 
    ); 
  }

.header-content h1 {
    color: #41a58d;
    font-size: 62px;
  }
  .header-content p {
    margin: 10px 0 40px;
    color: #fff;
    font-size: 14px;
  }

  @media(max-width:900px){
    .header-content h1 {
        font-size: 32px;
      }
      .header-content{
        position: relative;
      }
  }
  @media(max-width:300px){
    .header-content h1 {
      font-size: 16px;
    }
    .header-content p{
      font-size: 10px;
    }
    .hero-btn{
      font-size: 8px;
    }
    .header{
      height: 50vw;
    }
  }